<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="b_KnowLedge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
  <add name="BDKnowLedge" connectionString="metadata=res://*/Models.BDKnowLedge.csdl|res://*/Models.BDKnowLedge.ssdl|res://*/Models.BDKnowLedge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Paulo;initial catalog=b-Know;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <b_KnowLedge.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value />
      </setting>
      <setting name="BDName" serializeAs="String">
        <value />
      </setting>
      <setting name="SegInt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Username_Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password_Login" serializeAs="String">
        <value />
      </setting>
      <setting name="bServidor" serializeAs="String">
        <value />
      </setting>
      <setting name="bUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="bPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="bBDName" serializeAs="String">
        <value />
      </setting>
    </b_KnowLedge.Properties.Settings>
  </userSettings>
</configuration>